ODOO_URL=http://localhost:8069
ODOO_DB=db-examen
ODOO_USERNAME=usuario_api
ODOO_API_KEY=tu_api_key_odoo

PRESTASHOP_URL=http://localhost:8080
PRESTASHOP_API_KEY=tu_api_key_prestashop
PRESTASHOP_LANG_ID=1
PRESTASHOP_DEFAULT_CATEGORY_ID=2
PRESTASHOP_RETRIES=2
PRESTASHOP_TIMEOUT=30